<div class="container">
  <div class="pull-right">
    <%= link_to "New Thread", new_forum_thread_path, class: "btn btn-success" %>
  </div>

  <h1 class="page-header">Forum Threads</h1>
  <%= render @forum_threads %>
</div>
