<h1>Listing forum_threads</h1>

<% @forum_threads.each do |forum_thread| %>
  <div>
    <h2><%= link_to forum_thread.subject, forum_thread %></h2>
    <p>Created by <%= forum_thread.user.first_name %></p>
  </div>
<% end %>

<br>

<%= link_to 'New Forum thread', new_forum_thread_path %>
